$skyblue: #198cff;
$soft-blue: #d4fcff;
$green: #76ad39;
$salmon: #d46b78;
$dark-blue: #272d40;
$grey: #a1a4aa;
$soft-grey: #6cbcff;
$light-grey: #c0c4cc;

$font-size: 1.8rem;
$font-inter: "Inter", sans-serif;
