<div class="nav__up">
  <ul>
    <li class="nav__up-icons"><a href="">Logo</a></li>
    <li class="nav__up-icons">
      <a href=""><i class="fa-solid fa-inbox"></i></a>
    </li>
    <li class="nav__up-icons">
      <a href=""><i class="fa-regular fa-star"></i></a>
    </li>
    <li class="nav__up-icons">
      <a href=""><i class="fa-solid fa-calendar-week"></i></a>
    </li>
    <li class="nav__up-icons">
      <a href=""><i class="fa-solid fa-check"></i></a>
    </li>
    <li class="nav__up-icons">
      <a href=""><i class="fa-solid fa-trash"></i></a>
    </li>
  </ul>
</div>
<div class="nav__down">
  <ul>
    <li class="nav__down-icons"><a href=""></a>profile</li>
    <li class="nav__down-icons">
      <a href=""><i class="fa-solid fa-ellipsis"></i></a>
    </li>
  </ul>
</div>
